*{
    margin: 5px;
}
body {
    transform: scale(1.5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 15%;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 400px;
}
.notes{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.note{
    background-color: slategray;
    border: 2px solid slategray;
    border-radius: 5px;
    padding: 5px;
    color: white;
    display: inline-flex;
}
.error{
    background-color: rgb(247, 94, 77);
    border: 3px solid rgb(247, 94, 77);
    width: 100px;
    text-align: center;
    border-radius: 5px;
    color: white;
}
button{
    background-color: lightslategrey;
    border: 3px solid lightslategray;
    width: fit-content;
    border-radius: 5px;
    width: 150px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
button:hover{
    background-color: rgb(102, 113, 125);
    border: 3px solid rgb(102, 113, 125);
    width: fit-content;
    border-radius: 5px;
    width: 150px;
    color: white;
}
button:active{
    background-color: rgb(87, 93, 100);
    border: 3px solid rgb(67, 72, 77);
    width: fit-content;
    border-radius: 5px;
    width: 150px;
    color: white;
}
input{
    border: 2px solid rgb(149, 149, 149);
    color: rgb(129, 129, 129) ;
    border-radius: 5px;
}
h1{
    color: rgb(111, 111, 111) ;
}
h2{
    color: rgb(111, 111, 111) ;
}
.o{
    background-color: rgb(247, 94, 77);
    border: 5px solid rgb(247, 94, 77);
    border-radius: 50%;
}
.o:hover{
    border: 5px solid rgb(255, 55, 33);
}